@model BuildingModel

<body>
<div class="container">
    <div class="row">
        <div class="col-3">
            <h2>Add a building</h2>
            <hr/>
            <form asp-controller="Home" asp-action="CreateBuilding" method="post">
                <label for="buildingName">Building name:</label><br/>
                <input type="text" id="buildingName" name="buildingName"/><br/>
                <label for="buildingAdress">Adress:</label><br/>
                <input type="text" id="buildingAdress" name="buildingAdress"/><br/>
                <input class="btn-primary" type="submit" >Submit</input>
            </form>
        </div>
    </div>
</div>
</body>