:root {
  --primary-bg: #fff;
  --secondary-bg: #f5f5f5;
  --text-primary: #000;
  --text-contrast: #fff;
  --misc-colors: #333;

}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  background-color: var(--primary-bg);
}

body {
  margin-bottom: 60px;
  background-color: var(--primary-bg);
}

/* h1, h2, h3, h4, h5, h6, p, a, span, div {
  color: var(--text-primary);
} */

.btn-primary {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--text-contrast);
  background: rgb(65,57,195);
  background: linear-gradient(16deg, rgba(65,57,195,1) 0%, rgba(15,133,199,1) 0%, rgba(199,11,215,1) 100%);
  opacity: 0.8;
  transition: 0.25s;
  border: none;
}

.btn-danger {
  background: rgb(65,57,195);
  background: linear-gradient(41deg, rgba(65,57,195,1) 0%, rgba(129,19,19,1) 0%, rgba(255,0,0,1) 100%);
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--text-contrast);
  opacity: 0.8;
  transition: 0.25s;
  border: none;
}

.btn-primary:hover, .btn-danger:hover {
  opacity: 1;
}

.building-panel {
  background: rgb(65,57,195);
  background: linear-gradient(16deg, rgba(65,57,195,1) 0%, rgba(8,52,133,1) 0%, rgba(7,109,249,1) 100%);
  color: var(--text-contrast) !important;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 25px;
  width: 300px;
  min-height: 100%;
}

.room-panel {
  background: rgb(65,57,195);
  background: linear-gradient(41deg, rgba(65,57,195,1) 0%, rgba(164,0,0,1) 0%, rgba(236,16,179,1) 100%);
  color: var(--text-contrast) !important;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 25px;
  width: 300px;
}

.textContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.descriptive-id {
  font-size: 80%;
  opacity: 0.5;
}

.descriptive-info {
  font-size: 80%;
  line-height: 90%;
}

.control-panel-block {
  margin: 10px auto;
  background: var(--secondary-bg);
  padding: 20px;
  border-radius: 10px;
}

.form-select {
  max-width: 100%;
}

.input-group {
  margin: auto;
}

.header-gradient-text {
  background: #24A7FF;
  background: linear-gradient(to top right, #24A7FF 0%, #FF0AEF 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-red {
  background: rgb(65,57,195);
  background: linear-gradient(41deg, rgba(65,57,195,1) 0%, rgba(237,0,0,1) 0%, rgba(255,0,189,1) 100%);
}

.header-container {
  width: 75%;
  margin: auto;
}

.logo-container {
  display: inline;
  margin: 0 20px;
  width: 30px;
  height: auto;
}

.logo-container img {
  display: inline;
}

.popup-warning {
  z-index: 2;
  width: 400px;
  height: 300px;
  background-color: red;
  position: fixed;
  left: 30%;
  top: 10%;
}

.chart-container {
  margin: 10px 0px 10px 10px;
  padding: 30px 40px;
  background: var(--secondary-bg);
  border-radius: 10px;
}

.chart-container hr {
  margin: 0px 0px 40px 0px;
}

.hour-cont {
  display: flex;
  justify-content: center;
}

.chart-visual-col {
  border-right: 1px dashed var(--misc-colors);
  border-bottom: 1px dashed var(--misc-colors);
  width: 2.5rem;
  height: 100px;
  display: inline;
  position: relative;
  border-collapse: collapse;
}

.chart-visual-col:first-child {
  border-left: 1px dashed var(--misc-colors);
}

.chart-time-label {
  position: relative;
  left: -85%;
  top: -25%;
  font-size: 70%;
  user-select: none;
}

.description-legend {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}

.clr-icon {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.regular {
  background: rgb(0,141,252);
  background: linear-gradient(90deg, rgba(0,141,252,1) 0%, rgba(0,94,191,1) 100%);
}

.edited {
  background: rgb(65,57,195);
  background: linear-gradient(90deg, rgba(65,57,195,1) 0%, rgba(255,192,0,1) 0%, rgba(223,86,0,1) 100%);
}

.substitute {
  background: rgb(65,57,195);
  background: linear-gradient(90deg, rgba(65,57,195,1) 0%, rgba(255,49,49,1) 0%, rgba(162,0,0,1) 100%);
}

.chart-data-legend {
  margin: 0px 10px 0px 5px;
}

.event-bar-container {
  position: relative;
  display: flex;
  justify-content: left;
  
}

.event-bar {
  user-select: none;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 10px;
  color: var(--text-contrast);
  font-size: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 2;
  position: absolute;
  top: -70px;
  max-height: 40px;
}

.date-header-container {
  display: flex;
  justify-content: space-between;
}

.date-text-day {
  font-size: 350%;
  font-weight: bold;
  display: inline;
  user-select: none;
}

.date-text-month {
  font-size: 200%;
  display: inline;
  user-select: none;
}

.date-text-year {
  display: inline;
  font-size: 200%;
  user-select: none;
}

.input-group {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #2c3034;
}

input :focus {
  border: 5px solid red !important;
}

.system-time  {
  font-size: 140%;
}

.error-box {
  background-color: rgba(255, 0, 0, 0.18);
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 0, 0, 0.4);
}

.error-box span {
  font-size: 70%;
}
option :first-child {
  border-radius: 10px 10px 0px 0px;
}

select option :last-child {
  border-radius: 0px 0px 10px 10px;
}