html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: rgb(65,57,195);
  background: linear-gradient(16deg, rgba(65,57,195,1) 0%, rgba(15,133,199,1) 0%, rgba(199,11,215,1) 100%);
  opacity: 0.8;
  transition: 0.25s;
  border: none;
}

.btn-danger {
  background: rgb(65,57,195);
  background: linear-gradient(41deg, rgba(65,57,195,1) 0%, rgba(129,19,19,1) 0%, rgba(255,0,0,1) 100%);
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  opacity: 0.8;
  transition: 0.25s;
  border: none;
}

.btn-primary:hover, .btn-danger:hover {
  opacity: 1;
}

.building-panel {
  background: rgb(65,57,195);
  background: linear-gradient(16deg, rgba(65,57,195,1) 0%, rgba(8,52,133,1) 0%, rgba(7,109,249,1) 100%);
  color: #fff;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 25px;
  width: 300px;
  min-height: 100%;
}

.room-panel {
  background: rgb(65,57,195);
  background: linear-gradient(41deg, rgba(65,57,195,1) 0%, rgba(164,0,0,1) 0%, rgba(236,16,179,1) 100%);
  color: #fff;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 25px;
  width: 300px;
}

.textContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.descriptive-id {
  font-size: 80%;
  opacity: 0.5;
}

.descriptive-info {
  font-size: 80%;
  line-height: 90%;
}

.control-panel-block {
  margin: 10px auto;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.form-select {
  max-width: 100%;
}

.input-group {
  margin: auto;
}

.header-gradient-text {
  background: #24A7FF;
  background: linear-gradient(to top right, #24A7FF 0%, #FF0AEF 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-red {
  background: rgb(65,57,195);
  background: linear-gradient(41deg, rgba(65,57,195,1) 0%, rgba(237,0,0,1) 0%, rgba(255,0,189,1) 100%);
}

.header-container {
  width: 75%;
  margin: auto;
}

.logo-container {
  display: inline;
  margin: 0 20px;
  width: 30px;
  height: auto;
}

.logo-container img {
  display: inline;
}

.popup-warning {
  z-index: 2;
  width: 400px;
  height: 300px;
  background-color: red;
  position: fixed;
  left: 30%;
  top: 10%;
}

.chart-container {
  margin: 10px;
  padding: 40px;
  background: #f5f5f5;
  border-radius: 10px;
}

.chart-container hr {
  margin: 0px 0px 30px 0px;
}

.chart-visual-col {
  border-right: 1px dashed #333333;
  border-bottom: 1px dashed #333333;
  width: 4.16%;
  height: 10vh;
  display: inline;
  position: relative;
  border-collapse: collapse;
}

.chart-visual-col:first-child {
  border-left: 1px dashed #333333;
}

.chart-time-label {
  position: relative;
  left: -50%;
  top: -20%;
  font-size: 70%;
}

.description-legend {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}

.clr-icon-regular {
  background-color: #35b6ff;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.clr-icon-edited {
  background-color: #ff9a35;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.clr-icon-substitute {
  background-color: #ff2b4b;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.chart-data-legend {
  margin: 0px 10px 0px 5px;
}